.child {
  background-image: url("../../public/images/JavaZone2022Hall.jpeg");
  min-height: 600px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: calc(180px - 50vw);
  margin-left: calc(180px - 50vw);
}


