.footer {
  background-color: var(--banner_bakgrunn);
  min-height: 5rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 2fr));
  align-items: center;
  justify-items: center;
  display: grid;
  color: white;
}

.footer a {
  text-decoration: none;
  color: inherit;
}
