.container {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--banner_bakgrunn);
  padding: 1rem 2rem;
}

.navigation-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.navigation a {
  text-decoration: none;
  color: inherit;
}
