.displayFlex {
  display: flex;
  justify-content: space-between;
}

.pDiv {
  right: 0;
  width: 60%;
}

.fontSize h2 {
  font-size: 32px;
  max-width: 300px;
}

.fontSize p {
  font-size: 24px;
}

/*change the display in displayFlex to grid and width in pDiv to 100% when screen size is 890 and less  */
@media screen and (max-width: 890px) {
  .displayFlex {
    display: grid;
  }

  .pDiv {
    width: 100%;
  }
}
