@charset "utf-8";

:root{
  --background-JZ-gradient: linear-gradient(#650729, #033E4F);
  --big-text-color: #FED12D;
  --normal-text-color: #F6DA98;
  --hover-text-color: #FF8525;
  --red-text-color: #650729;
  --link-color: #5AD0A6;
}

$footer-padding: 1rem 0;
$footer-background-color: hsl(0, 0%, 21%);
$navbar-background-color: #033E4F;
$footer-background-color: #033E4F;
$navbar-item-color: var(--big-text-color);
$navbar-item-hover-color: var(--hover-text-color);
$navbar-item-hover-background-color: #033443;

@import "~bulma/bulma.sass";
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&family=Open+Sans&display=swap");





.button.is-dark-blue {
  background-color: var(--normal-text-color);
  border-color: transparent;
  color: #650729;
}

.button.is-dark-blue:hover {
  color: var(--hover-text-color);
}

body{
  color: var(--normal-text-color);
  background: var(--background-JZ-gradient);
}

a {
  color: var(--link-color);
}

a:hover{
  color: #26A27E;
  text-decoration: none;
}

.title {
  color: var(--big-text-color);
}

.content h1, .content h2, .content h3{
  color: var(--big-text-color);
}

strong {
  color: var(--big-text-color);
}

.box{
  background-color: #033E4F;
  color: white;
}


