@charset "utf-8";
@import "~bulma/bulma.sass";

:root{
  --background-JZ-gradient: linear-gradient(#650729, #033E4F);
  --big-text-color: #FED12D;
  --normal-text-color: #F6DA98;
  --hover-text-color: #FF8525;
  --link-color: #5AD0A6;
}

@font-face {
  font-family: noto-serif-bold;
  src: url(https://www.dafontfree.net/embed/bm90by1zZXJpZi1ib2xkJmRhdGEvMjEvbi85OTcxNi9Ob3RvU2VyaWYtQm9sZC50dGY);
}

.navbar{
  background-color: inherit;
  display:flex;
  justify-content:center;
}

.navbar a {
  color: var(--big-text-color);
  outline: none;
}

.navbar a:hover {
  color: var(--hover-text-color);
}

.navbar a:focus{
  color: var(--big-text-color);
}

.navbar-center {
  display: flex;
  justify-content: center;
  width: 100%;
}

.navbar-menu {
  display: flex;
  justify-content: center;
}

.button.is-dark-blue {
  background-color: var(--normal-text-color);
  border-color: transparent;
  color: black;
}

body{
  color: var(--normal-text-color);
  background: var(--background-JZ-gradient);
}

a {
  color: var(--link-color);
}

a:hover{
  color: #26A27E;
  text-decoration: none;
}

.title {
  color: var(--big-text-color);
}

.content h2, .content h3{
  color: var(--big-text-color);
}

strong {
  color: var(--big-text-color);
}

.box{
  background-color: #033E4F;
  color: white;
}


