@tailwind base;
@tailwind components;
@tailwind utilities;


@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&family=Open+Sans&display=swap");

:root{
  --dark-blue-background: #033E4F;
  --background-JZ-gradient: linear-gradient(#650729, var(--dark-blue-background));
  --big-text-color: #FED12D;
  --normal-text-color: #F6DA98;
  --hover-text-color: #FF8525;
  --red-text-color: #650729;
  --link-color: #5AD0A6;
}

body{
  color: var(--normal-text-color);
  background: var(--background-JZ-gradient);
}

a {
  color: var(--link-color);
}

a:hover{
  color: #26A27E;
  text-decoration: none;
}

strong {
  color: var(--big-text-color);
}

.banner {
  display: block;
  width: 1000rem;
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
  overflow: hidden;
  padding: 10px 0;
  white-space: nowrap;
  position: relative;
  margin-bottom: 20px;
}

.wheely {
  animation: wiggle 2s infinite linear
}

@keyframes wiggle {
  0% {
    transform: rotate(10deg);
  }
  25% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(20deg);
  }
  75% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(10deg);
  }
}

